# Checkpoints do Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
.venv/
venv/
env/
.env

# Secrets
.env
.streamlit/secrets.toml

# Configs de editor/IDE
.vscode/
.idea/